* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #a8d08d, #69b678);  /* Fade verde */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    max-width: 800px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 3em;
    color: #06970e;
    margin-bottom: 20px;
}

.image-display {
    width: 60%;
    margin: auto;
}

.image-display img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#tempo {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    background-color: #f0f8f0;
    padding: 15px;
    border: 2px solid #458a04;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    text-align: center;
    margin: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.nav-button {
    background-color: #004b0a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
    background-color: #004d40;
    transform: translateY(-3px);
}

/* Responsivo para mobile */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    .image-display {
        width: 80%;
    }

    #tempo {
        width: 80%;
    }

    .button-container {
        flex-direction: row;
        gap: 10px;
    }

    .nav-button {
        width: 45px;
        height: 45px;
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5em;
    }

    .image-display img {
        max-width: 250px;
        height: 250px;
    }

    #tempo {
        font-size: 1.2em;
        padding: 10px;
        width: 90%;
    }

    .nav-button {
        width: 40px;
        height: 40px;
        font-size: 1.1em;
    }
}
